{% extends 'base.html' %}
{% load static %}

{% block search_bar %}
{% endblock search_bar %}

{% block content %}

<div class="d-flex flex-column justify-content-center">
    <section class="d-flex flex-column border mb-3">

        <div class="d-flex flex-row">
            <img src="{{order.image}}" alt="" style="max-height: 300px; max-width: 50%">
            <div class="d-flex flex-column ms-3 ms-lg-5 pt-3">
                <h3 class="mb-3">{{order.product_name}}</h3>
                <h6 class="text-secondary mb-3">รหัสสินค้า: {{order.product_id}}</h6>
                <h6 class="text-secondary mb-3">โปรโมชั่น: {{order.promotion_name}}</h6>
                <h6 class="text-secondary">รายละเอียดอื่น ๆ:</h6>
                <p class="bg-light text-secondary mb-3 p-3">
                    {{order.description}}
                </p>
                <h6 class="text-secondary mb-3">สถานะ: {{order.status_text}}</h6>

                {% if order.can_see_promotion %}
                <a class="btn btn-outline-secondary mb-3" href="{{order.promotion_url}}"
                    style="font-size: 0.8rem;">ดูโปรโมชั่น</a>
                {% endif %}

            </div>
        </div>

        {% if order.can_pay_deposit or order.can_pay_full %}

        <hr class="bg-danger border-2 border-top border-secondary my-3 mx-2">

        <div class="d-flex flex-column px-2 px-lg-5">
            <div class="d-flex mb-3 align-items-stretch">
                <h4 class="fw-light me-auto">ยอดชำระมัดจำ ({{order.deposit_percent}}%)</h4>
                <h4 class="fw-blod text-danger">{{order.deposit}} ฿</h4>
                {% if order.can_pay_deposit %}
                <button type="button" data-bs-toggle="modal" data-bs-target="#modalUploadDeposit"
                    class="btn btn-outline-dark ms-2">ชำระมัดจำ</button>
                {% endif %}
            </div>
            <div class="d-flex flex-row mb-3">
                <h4 class="fw-light me-auto">ยอดชำระคงเหลือ</h4>
                <h4 class="fw-blod text-danger">{{order.dept}} ฿</h4>
                {% if order.can_pay_full %}
                <button type="button" data-bs-toggle="modal" data-bs-target="#modalUploadFull"
                    class="btn btn-outline-dark ms-2">ชำระทั้งหมด</button>
                {% endif %}
            </div>
        </div>
        {% endif %}

    </section>

    {% if order.show_timeline %}
    <section class="border">
        <div class="px-2 px-lg-5 border py-3">
            <h3 class="fw-light me-auto">Timeline</h3>

            <div id="content">
                <ul class="timeline">

                    {% for item in timeline %}
                    {% if item.active %}
                    <div class="active">
                        {% else %}
                        <div>
                            {% endif %}
                            <li class="event" data-date="{{item.timestamp}}">
                                <h3>{{item.text}}</h3>
                                <div style="height: 75px"></div>
                            </li>
                        </div>
                        {% endfor %}
                </ul>
            </div>

        </div>
    </section>
    {% endif %}
</div>

<!-- modalUploadFull -->
<form action="{% url 'orders:upload_full' pk=order.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="modal fade" id="modalUploadFull" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ชำระทั้งหมด</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="" class="form-label">เลขบัญชี</label>
                <input type="text" name="" id="" class="form-control" value="123456789" disabled>
            </div>
          
          <!-- image -->
          {% with field=form.image %}
          <div class="mb-3">
              <label for="{{ field.id_for_label }}" class="form-label">{{field.label}}</label>
              {{field}}
              <div class="invalid-feedback">
                  {{field.errors}}
              </div>
          </div>
          {% endwith %}

          <!-- address -->
          {% with field=form.address %}
          <div class="mb-3">
              <label for="{{ field.id_for_label }}" class="form-label">{{field.label}}</label>
              {{field}}
              <div class="invalid-feedback">
                  {{field.errors}}
              </div>
          </div>
          {% endwith %}

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">ยืนยัน</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- modalUploadDeposit -->
<form action="{% url 'orders:upload_deposit' pk=order.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

<div class="modal fade" id="modalUploadDeposit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ชำระมัดจำ</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="" class="form-label">เลขบัญชี</label>
                <input type="text" name="" id="" class="form-control" value="123456789" disabled>
            </div>
          
          <!-- image -->
          {% with field=deposit_form.image %}
          <div class="mb-3">
              <label for="{{ field.id_for_label }}" class="form-label">{{field.label}}</label>
              {{field}}
              <div class="invalid-feedback">
                  {{field.errors}}
              </div>
          </div>
          {% endwith %}

          

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">ยืนยัน</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock content %}