{% load static %}

<header class="pt-3 pb-3 search__container">
    <div class="container d-flex flex-wrap justify-content-center">
        <div class="col-12 col-lg-8 bg-white">
            <form class="input-group" id="searchForm">
                <span class="input-group-text border border-dark custom__input"><i class="bi bi-search"></i></span>
                <input type="search" class="form-control border border-dark custom__input" placeholder="ค้นหา ..." id="qInput"
                    aria-label="Search">
                <button class="btn btn-outline-dark custom__input" type="button" id="searchBtn">
                    ค้นหา
                </button>
            </form>
        </div>
    </div>
</header>