{% load static %}


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">


        {% for url in carousel_list %}
        {% if forloop.counter0 == 0 %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}"
        class="active"
            aria-current="true"
            aria-label="Slide {{forloop.counter}}"></button>
        {% else %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}"
            aria-label="Slide {{forloop.counter}}"></button>
        {% endif %}

        {% endfor %}

    </div>

    <div class="carousel-inner">


        {% for url in carousel_list %}
        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
            <img src="{{url}}" class="d-block w-100 carousel-img" alt="...">
        </div>
        {% endfor %}



    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>