{% load static %}

<!-- header 1 -->
<div class="border-bottom py-2 bg-light">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand me-auto" href="{% url 'promotions:all_deals' %}">
                <img src="{% static 'img/plutus_logo.png' %}" alt="" width="100px">
            </a>

            {% if user.is_authenticated %}
            <button class="btn position-relative border rounded-circle ms-2" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#notificationCanvas" aria-controls="notificationCanvas">
                <i class="bi bi-bell"></i>
                <span id="numNotiSpan"
                    class="position-absolute top-0 start-100 bg-danger translate-middle badge rounded-pill bg-secondary"
                    style="font-size: 0.6rem; margin-top: 15%; display: none;">
                </span>
            </button>

            <a href="{% url 'promotions:create_promotion' %}" class="btn rounded-circle border ms-3 fw-bold">
                <i class="bi bi-plus"></i>
            </a>

            <div class="dropdown text-end ms-3">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {% if request.user.profile.image %}
                    <img src="{{request.user.profile.image.url}}" alt="" width="32" height="32"
                        class="rounded-circle border" style="object-fit: cover;">
                    {% else %}
                    <img src="{% static 'img/default_avatar.png' %}" alt="" width="32" height="32"
                        class="rounded-circle border" style="object-fit: cover;">
                    {% endif %}
                </a>

                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <!-- <li><a class="dropdown-item" href="{% url 'promotions:create_promotion' %}"><i
                                class="bi bi-plus-circle"></i>&nbsp;สร้างโพสต์</a></li> -->
                    <li>
                        <li><a class="dropdown-item" href="{% url 'promotions:my_promotion_list' %}?cate_list=-1"><i
                            class="bi bi-journal-medical"></i>&nbsp;โพสต์ที่คุณสร้าง</a></li>
                <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'brands:followed_brand_list' %}"><i class="bi bi-bag"></i>&nbsp;แบรนด์ที่ติดตาม</a></li>
                    <li><button class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#orderListModal"><i class="bi bi-cart4"></i>&nbsp;Order Summary</button></li>
                    
                    <li><a class="dropdown-item" href="{% url 'accounts:profile' %}"><i class="bi bi-person-circle"></i>&nbsp;บัญชี</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'accounts:logout' %}"><i
                                class="bi bi-box-arrow-right"></i>&nbsp;ลงชื่อออก</a>
                    </li>
                </ul>
            </div>
            {% else %}
            <div>
                <a href="{% url 'accounts:login' %}?next={{request.path}}" class="ms-2 btn btn-outline-dark"
                    style="font-size: 0.9rem;">เข้าสู่ระบบ</a>
                <a href="{% url 'accounts:register' %}" class="ms-2 btn btn-outline-dark" style="font-size: 0.9rem;">สมัครสมาชิก</a>
            </div>
            {% endif %}


        </div>
    </div>
</div>

<!-- header 2 -->
<div id="header__2" class="border-bottom bg-light">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center ">
            <ul class="nav col-12 justify-content-center pt-1 nav__btn">
                <li class="nav__btn__list">
                    <a href="{% url 'promotions:all_deals' %}" class="btn btn-outline-dark mb-1 {% if title == 'ALL DEALS!' %}active__btn{% endif %}">
                        <i class="bi bi-cart-fill"></i><span class="nav__btn__text">&nbsp;All Deals</span>
                    </a>
                    <a href="{% url 'promotions:flash_deals' %}" class="btn btn-outline-dark mb-1 {% if title == 'FLASH DEALS!' %}active__btn{% endif %}">
                        <i class="bi bi-lightning-fill"></i><span class="nav__btn__text">&nbsp;Flash Deals</span>
                    </a>
                    <a href="{% url 'brands:brand_list' %}" class="btn btn-outline-dark mb-1 {% if title == 'BRANDS!' %}active__btn{% endif %}">
                        <i class="bi bi-bag-fill"></i><span class="nav__btn__text">&nbsp;Brands</span>
                    </a>
                    <a href="{% url 'promotions:category_list' %}" class="btn btn-outline-dark mb-1 {% if title == 'CATEGORIES' %}active__btn{% endif %}">
                        <i class="bi bi-bag-fill"></i><span class="nav__btn__text">&nbsp;Categories</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>