{% extends 'base.html' %}

{% block search_bar %}
{% include 'brands/search_brand.html' %}
{% endblock search_bar %}

{% block content %}

{% include 'carousel.html' %}

<!-- Brand List -->
<div class="container-fluid mt-2">
    <h3 class="mb-3">{{title}}</h3>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">

        {% for brand in brand_list %}
        <div class="col">
            <div class="card">
                <a href="{% url 'brands:brand_feed' pk=brand.pk %}">
                    <img src="{{brand.cover}}" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <h5 class="card-title me-auto">{{brand.name}}</h5>
                        {% if user.is_authenticated %}
                        {% if brand.is_followed %}
                        <a href="{% url 'brands:unfollow_brand' pk=brand.pk %}" class="btn btn-outline-dark active"><i
                                class="bi bi-patch-minus"></i>&nbsp;
                            เลิกติดตาม</a>
                        {% else %}
                        <a href="{% url 'brands:follow_brand' pk=brand.pk %}" class="btn btn-outline-dark"><i
                                class="bi bi-patch-plus"></i>&nbsp; ติดตาม</a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>


    {% if not brand_list %}
    <div class="row text-center my-5">
        <div class="col">
            <p>ไม่พบข้อมูล</p>
        </div>
    </div>
    {% endif %}

</div>
{% endblock content %}